.file-tile-container {
	display: flex;
	flex-direction: row wrap;
}

.file-tile {
	max-width: 200px;
	padding: 1em;
	margin: 0 1em 1em 0;
	border: 1px solid #ebebeb;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

	img {
		max-height: 100px;
		margin: 0 auto 1em auto;
	}
}