html {
	position: relative;
    min-height: 100%;
}

body {
	margin: 0 0 @footerHeight;
}

.page-container {
	margin: 0 auto;
	padding: @stdSpace;
	max-width: 1000px;
}

.mg-btm {
	margin-bottom: @stdSpace;
}


.random-topic {
	cursor: pointer;
	border-bottom: 1px dashed #C5C5C5;
	
	&:hover {
		color: @priColor;
	}
}

.header {
	margin-bottom: @stdSpace;
}

.nav {
	
	li:last-child {
		a {
			margin-right: 0;
		}
	}

	li a {
		color: inherit;
		padding: 5px;
		margin-right: 2em;

		&:hover, &:focus {
			background: transparent;
		}

		&.active {
			border-bottom: 2px solid #4d4d4d;
		}
	}
}

.header-title {
	font-size: 1.2em;
}

.header-sub {
	user-select: none;
	color: #999;
}

#header-graphic {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.1;
}

.header-graphic-bar {
	fill: @priColor;
}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: @footerHeight;
	width: 100%;
	
	background: @secColor;
	color: rgba(255, 255, 255, 0.7);
}