<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CameronNokes.com</title>
		<meta id="version" name="version" data-version="<%= version %>">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<base href="/">
		<!-- <link rel="icon" href="/images/favicon.ico" type="image/x-icon"> -->
		<!-- <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"> -->
		<!-- <link rel="stylesheet" type="text/css" href="/styles/main.css?v=<%= version %>"> -->
	</head>

	<body>

	</body>

</html>